{% load static %}

<aside id="social-media-links">
    <ul>
        <li><a href="https://github.com/elchamopablo"><img src={% static "blog/github.svg" %} alt="GitHub Logo" />GitHub</a></li>
        <li><a href="https://www.instagram.com/elchamopablo/"><img src={% static "blog/instagram.svg" %} alt="Instagram Logo" />Instagram</a></li>
        <li><a href="https://www.linkedin.com/in/pablo-roufogalis-serrano-92a771108/"><img src={% static "blog/linkedin.svg" %} alt="LinkedIn Logo" />LinkedIn</a></li>
        <hr />
        <li style="text-align:center;"><a href="mailto:pabloroufogalis@gmail.com">Contact Me: pabloroufogalis@gmail.com</a></li>
    </ul>
</aside>
