{% extends "blog/en/main.html" %}

{% block content %}
    <header>
        <h1>{{ title }}</h1>
    </header>
    <section>
        <p>I was born on November 13th, 1993 in Caracas, Venezuela. I lived in Caracas until January 11th, 2007, when my family and I moved to Colombia. During those years in Venezuela I studied in CEAMM and Colegio Integral El Ávila. I spent my afternoons with my friends Guillermo and Camilo and twice a year I went to Puerto La Cruz in Barcelona(Venezuela) to visit part of my family(my family from my mother's side is extra large, we only need a family member in Africa, Antartica y Alaska).</p>

        <p>In 2008 I decided to start playing electric bass just because I didn't want to sing or play guitar and we couldn't have a drum kit in the apartment; I was gifted my first bass that year along with starting classes at Academia Mundo de la Música, where soon after I discover I have some talent for music. I played many times with that academy, gigs twice a year. Moments I feel proud of are when I requested for my 3rd concert to not be printed tabs, just score and on my first class I was assigned to do a bassline over the song La Flaca; without realizing it I copied the bassline from a song by Cream. Even though I graduated in 2011 from high school, I started studying Music in Universidad El Bosque in 2014, graduating in 2021 with a specialization in Composition where I did everything from pre-production(composition), recording and playing all of the instruments needed and post-production(mixing and mastering).</p>

        <p>Before graduating from high school, I promised myself to be in some sort of physical activity after graduating because I saw many people graduating from school, getting into or graduating from college getting overweight. I spent 2012 in aerial silk classes and although I had some martial arts classes in high school, it was in 2013 when I started practicing Taekwondo seriously; that led to getting to know about meditation, Korean and through meditation, Buddhism. I started studying in Academia Coreana de Taekwondo and in 2017 I went on to study in Ryong Tae Dojang, same year where I got my black belt in that same school.</p>

        <p>In 2019 after getting some advice from my sister I started studying programming, starting with some courses on Codecademy. Now I am mostly interested in software engineering and web development.</p>

        <p>Lastly among my other hobbies is voice acting; I am capable of doing many impressions.</p>
	 </section>
{% endblock %}
