{% extends "blog/en/main.html" %}
{% load static %}

{% block content %}
<header>
    <h1>{{ title }}</h1>
</header>
    <section>
        <h2>Academic</h2>
            <ul>
                <li><a href="{% static 'blog/school-diploma.png' %}" target="_blank">School Diploma</a></li>
                <li><a href="{% static 'blog/college-diploma.jpg' %}" target="_blank">University Degree</a></li>
                <li><a href="{% static 'blog/specialization-paper.jpg' %}" target="_blank">Specialization Paper</a></li>
            </ul>
        <h2>Programming</h2>
            <ul>
              <li><a href="https://www.freecodecamp.org/certification/elchamopablo/responsive-web-design" target="_blank">Responsive Web Design</a></li>
              <li><a href="https://www.freecodecamp.org/certification/elchamopablo/javascript-algorithms-and-data-structures" target="_blank">JavaScript Algorithms and Data Structures</a></li>
              <li><a href="https://www.udemy.com/certificate/UC-4d4458dc-77fe-4f94-abf5-212767c3b2a0/" target="_blank">The Complete 2023 Web Development Bootcamp</a></li>
            </ul>
        <h2>Taekwondo</h2>
            <ul>
                <li><a href="{% static 'blog/9th-geup.jpg' %}" target="_blank">9th Geup</a></li>
                <li><a href="{% static 'blog/7th-geup.jpg' %}" target="_blank">7th Geup</a></li>
                <li><a href="{% static 'blog/5th-geup.jpg'%}" target="_blank">5th Geup</a></li>
                <li><a href="{% static 'blog/3rd-geup.jpg' %}" target="_blank">3rd Geup</a></li>
                <li><a href="{% static 'blog/1st-geup.jpg' %}" target="_blank">1st Geup</a></li>
                <li><a href="{% static 'blog/1st-dan.jpg' %}" target="_blank">1st Dan</a></li>
            </ul>
    </section>
{% endblock %}
