{% extends "portfolio/en/main.html" %}

{% block content %}
    <header>
        <h1>Pablo A. Roufogalis</h1>
	</header>
    <section>
        <p>In a world where software solutions are required to meet demand or create awareness of a brand, I come in.</p>

        <p>I am a software developer, specifically a full-stack developer, and a musician all in one, bringing artistic touch to programming and precision to music.</p>

        <p>In programming I am experienced in the MERN and MEVN stack, Django, as well as the Next and Nuxt frameworks.</p>

        <p>On the music side of things, I can deliver a musical product doing all the steps of pre-production(composing, lyrics, arranging), through production(recording and playing various instruments+singing) all the way to post-production(mixing+mastering), just like I did with my grad project.</p>

        <p><a href="{% url 'portfolio:es-home' %}">Versión en español de esta página aquí</a></p>
    </section>

{% endblock %}
