<nav>
  <ul class="list-container" style="text-align:center; font-size: 20px">
    <li class="list-element"><a href="{% url 'blog:sutta-intro' %}">Introducción</a></li>
    <li class="list-element"><a href="{% url 'blog:sutta-antecedentes' %}">Antecedentes</a></li>
    <li class="list-element"><a href="{% url 'blog:sutta-marco' %}">Marco Teórico</a></li>
    <li class="list-element"><a href="{% url 'blog:sutta-khuddaka' %}">Khuddaka Nikaya</a></li>
    <li class="list-element"><a href="{% url 'blog:sutta-anguttara' %}">Anguttara Nikaya</a></li>
    <li class="list-element"><a href="{% url 'blog:sutta-samyutta' %}">Samyutta Nikaya</a></li>
    <li class="list-element"><a href="{% url 'blog:sutta-conclusiones' %}">Conclusiones</a></li>
    <li class="list-element"><a href="{% url 'blog:sutta-bibliografia' %}">Bibliografía</a>
  </ul>
</nav>
