{% load static %}

<!DOCTYPE html>

<html lang="es-co">
    {% include 'blog/es/2do/head-2do-dan.html'%}
    <body>
        <img class="center" src="{% static 'blog/ryong-tae-dojang.png' %}" alt="Logo de la academia">
        <h1 style="text-align:center;">Tutorial introductorio de tricking</h1>
            <ul class="list-container" style="text-align:center; font-size: 20px;">
                <li class="list-element"><a href="{% url 'blog:2do-dan-agradecimientos' %}">Agradecimientos</a></li>
                <li class="list-element"><a href="{% url 'blog:2do-dan-intro' %}">Introducción</a></li>
                <li class="list-element"><a href="{% url 'blog:2do-dan-diagramas' %}">Diagramas</a></li>
                <li class="list-element"><a href="{% url 'blog:2do-dan-tabla' %}">Tabla</a></li>
                <li class="list-element"><a href="{% url 'blog:2do-dan-conclusiones' %}">Conclusiones</a></li>
            </ul>
    </body>
</html>
