body {
	background-color: rgb(32,53,122);
}

main {
	background-color:white;
	margin:15%;
}

nav {
	
	
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
}

nav li {
	display: inline;
	border-style:solid;
	width: 100%;
	text-align: center;
}

table {
	border-collapse:collapse;
	width:100%;
}

td, th {
	border: 1px solid;
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.list-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width:100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.list-element {
	display: inline;
	border-style:solid;
}

.list-element:hover{
	background-color: white;
}


a{
	color:rgb(230,29,37)
}

a:hover{
	color:rgb(32,53,122)
}

a:visited {
	color:rgb(230,29,37)
}

a:active{
	color:rgb(248,238,6)
}



.small-logo{
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	/*float: right;*/
	width: 10%;
}
