{% load static %}

<!DOCTYPE html>

<html lang="es-co">
    {% include 'blog/es/2do/head-2do-dan.html'%}
<body>
    <a href="{% url 'blog:2do-dan-indice' %}"><img class="small-logo" src="{% static 'blog/ryong-tae-dojang.png' %}" alt="Logo de la academia"></a>
	<main>
    {% include 'blog/es/2do/navbar-2do-dan.html' %}
	
	<h1>Diagramas</h1>
	
    <img src="{% static 'blog/diagrama-1.png' %}" alt=""/>
	<br>
	<hr>
	
    <img src="{% static 'blog/diagrama-2.png' %}" alt=""/>
	<br>
	<hr>
    <img src="{% static 'blog/diagrama-3.png' %}" alt=""/>
	<br>
	<hr>
    <img src="{% static 'blog/diagrama-4.png' %}" alt=""/>
	<br>
	<hr>
    <img src="{% static 'blog/diagrama-5.png' %}" alt=""/>
	<br>
	
	<hr>
    <img src="{% static 'blog/diagrama-6.png' %}" alt=""/>
	<br>
	
	<!--<hr>
	<img src="Diagrama-7.png" alt=""/>
	<br>-->
	
	<!--<hr>
	<img src="Diagrama-8.png" alt=""/>
	<br>-->
	
	<hr>
    <img src="{% static 'blog/diagrama-9.png' %}" alt=""/>
	<br>
	
	<hr>
	</main>
</body>

</html>
