{% load static %}

<!DOCTYPE html>

<html lang="es-co">
    {% include 'blog/es/2do/head-2do-dan.html'%}
<body>
    <a href="{% url 'blog:2do-dan-indice' %}"><img class="small-logo" src="{% static 'blog/ryong-tae-dojang.png' %}" alt="Logo de la academia"></a>
	<main>
        {% include 'blog/es/2do/navbar-2do-dan.html' %}
        <h1>{{ title }}</h1>
	<table>
		<tr>
			<th>Nivel 0</th>
			<td><a href="https://youtu.be/X5MrSsfBTeA">Kip de nuca<a></td>
			<td><a href="https://youtu.be/fWI5Cef8i90">Rollo Hacia Adelante<a></td>
			<td><a href="https://youtu.be/kXfchDaL7Rc">Rollo Hacia Atrás<a></td>
			<td><a href="https://youtu.be/Fd7NX6OSU0s">Parada de Manos<a></td>
			<td><a href="https://youtu.be/E5DqQ2hMwaI">Mariposa<a></td>
			<td><a href="https://youtu.be/tHipdQ2agE8">Barrida Hacia Adelante<a></td>
			<td><a href="https://youtu.be/C1PyqmITOhM">Barrida Hacia Atrás<a></td>
			<td><a href="https://youtu.be/G_i3-01xy1E">Rollo Lateral<a></td>
			<!--<td><a href="https://www.youtube.com/watch?v=LbS2KZ6okHI&t=90s">Kong<a></td>-->
			<td><a href="https://www.youtube.com/watch?v=3g4lYIqu-TE">Pescador<a></td>
			<td><a href="https://youtu.be/wyAbNK6E_SM">Raiz<a></td>
		</tr>
		<tr>
			<th>Nivel 1</th>
			<td><a href="https://www.youtube.com/watch?v=qTeS4XOFXgc">Kip Sin Manos<a></td>
			<td><a href="https://www.youtube.com/watch?v=xX8JTYjDMsA">Webster<a></td>
			<td><a href="https://www.youtube.com/watch?v=mLXRAejwdp8">Starfish Kip Up<a></td>
			<td><a href="https://www.youtube.com/watch?v=MiWwHhyYcro">Mortal<a></td>
			<td><a href="https://www.youtube.com/watch?v=miVdKl3Ih2Q">Media Luna<a></td>
			<td><a href="https://www.youtube.com/watch?v=4nFNwsc4v1c">Flick-Flack<a></td>
			<td><a href="https://www.youtube.com/watch?v=ahOFZ-to8XY">Mariposa con Giro<a></td>
			<td><a href="https://www.youtube.com/watch?v=95s1OalZmpI">Mortal Lateral<a></td>
			
		</tr>
		<tr>	
			<th>Nivel 2</th>
			<td><a href="https://www.youtube.com/watch?v=6jUAdJzs0HM">Front Handspring<a></td>
			<td><a href="https://www.youtube.com/watch?v=6jUAdJzs0HM&t=209s">Walk Over<a></td>
			<td><a href="https://www.youtube.com/watch?v=8nTDh9KrqYE">Suicide Kip Up<a></td>
			<td><a href="https://www.youtube.com/watch?v=LyYflNqksV0">Dive Roll<a></td>
			<td><a href="https://www.youtube.com/watch?v=6kIS3rEKp0Y">Webster Axe Kick<a></td>
			<td><a href="https://www.youtube.com/watch?v=D0-KkOi8EcI">Loser<a></td>
			<td><a href="https://www.youtube.com/watch?v=xOPUU8YNRbY">Flash Kick<a></td>
			<td><a href="https://www.youtube.com/watch?v=gxGsEG_-7y4">Roundoff<a></td>
			<td><a href="https://www.youtube.com/watch?v=d39xLrtOtFQ">Aerial<a></td>
			<td><a href="https://www.youtube.com/watch?v=hkZtQoX1JqI">Au Batido<a></td>
			<td><a href="https://www.youtube.com/watch?v=CEUCgZgwJdE">Sideswipe<a></td>
			<td><a href="https://www.youtube.com/watch?v=oTGP1xptqak">Front Flip<a></td>
		</tr>
		<tr>
			<th>Nivel 3</th>
			<td><a href="https://www.youtube.com/watch?v=5UHyIfUYmkk">Barani<a></td>
			<td><a href="https://www.youtube.com/watch?v=HAsiqV4-Pwo">Kong Gainer<a></td>
		</tr>
		<tr>
			<th>Nivel 4</th>
			<td><a href="https://www.youtube.com/watch?v=NJEI3Pvd2Wc">360 Front Flip<a></td>
			<td><a href="https://www.youtube.com/watch?v=yIglgVFob2o">Kong Front Flip<a></td>
			<td><a href="https://www.youtube.com/watch?v=Pb3rGuWwc18">Aerial Frontswing<a></td>
			<td><a href="https://www.youtube.com/watch?v=z56veOifecY">Double Leg<a></td>
		</tr>
		<tr>
			<th>Nivel 5</th>
			<td><a href="https://www.youtube.com/watch?v=UIh1h8GMSaA">Standing Arabian<a></td>
			<td><a href="https://www.youtube.com/watch?v=3n8WR-cgssQ">Hypercork<a></td>
			<td><a href="https://www.youtube.com/watch?v=SyiBq-D7rfA">Touchdown Raiz<a></td>
			<td><a href="https://www.youtube.com/watch?v=eClOFrcr_pY">Shuriken Cork<a></td>
			<td><a href="https://www.youtube.com/watch?v=RhCQ0eUcoR8">Tornado Swing 9<a></td>
		</tr>
		<tr>
			<th>Nivel 6</th>
			<td><a href="https://www.youtube.com/watch?v=_zKnLJATnT4">Corkscrew<a></td>
			<td><a href="https://www.youtube.com/watch?v=wWyUJtMmCjk">Standing Back Full<a></td>
			<td><a href="https://www.youtube.com/watch?v=8R8qE7lkcZA">Cheat Gainer<a></td>
			<td><a href="https://www.youtube.com/watch?v=QmJsZ_9rzbM">Double Cork<a></td>
		</tr>
		<tr>
			<th>Nivel 7</th>
			<td><a href="https://www.youtube.com/watch?v=yFswXR5Eyyk">Rodeo Cork<a></td>
			<td><a href="https://www.youtube.com/watch?v=l65jYRQbluE">Boxcutter<a></td>
			<td><a href="https://www.youtube.com/watch?v=Kwp4wAJNFac">Gainer<a>*</td>
		</tr>
		<tr>
			<th>Nivel 8</th>
			<td><a href="https://www.youtube.com/watch?v=kUsm5WV91y8">Cork Dleg<a></td>
			<td><a href="https://www.youtube.com/watch?v=9DMNQWgZIQ4">Crowd Awakener<a></td>
		</tr>
	</table>
	<p>*Gainer es la excepción dado que vendría posterior a Cheat Gainer.</p>
	</main>
</body>

</html>
