{% load static %}

<aside id="social-media-links">
    <ul>
        <li><a href="https://github.com/elchamopablo"><img src={% static "portfolio/github.svg" %} alt="GitHub Logo" />GitHub</a></li>
        <li><a href="https://www.instagram.com/elchamopablo/"><img src={% static "portfolio/instagram.svg" %} alt="Instagram Logo" />Instagram</a></li>
        <li><a href="https://www.linkedin.com/in/pablo-roufogalis-serrano-92a771108/"><img src={% static "portfolio/linkedin.svg" %} alt="LinkedIn Logo" />LinkedIn</a></li>
        <hr />
        <li style="text-align:center;">Ponte en contacto: pabloroufogalis@gmail.com</li>
    </ul>
</aside>
