{% extends "portfolio/es/es-main.html" %}

{% block content %}
    <header>
        <h1>Pablo A. Roufogalis</h1>
	</header>
    <section>
        <p>En un mundo donde se requieren soluciones de software para satisfacer la demanda o crear consciencia de una marca, llego yo.</p>

        <p>Soy un desarrollador de software, específicamente un desarrollador full-stack y un músico todo en uno, dándole un toque artístico a la programación y precisión a la música.</p>

        <p>Por el lado de la programación tengo experiencia en los conjuntos MERN, MEVN, Django y también en los entornos Next y Nuxt.</p>

        <p>Por el lado de lo musica, puedo entregar un proyecto musical haciendo todos los pasos de pre-producción(composición, letra, arreglo), pasando por producción(grabación y ejecución en varios instrumentos además de canto) llegando a post-producción(mezcla+masterización), como hice con mi proyecto de grado.</p>

        <p><a href="{% url 'portfolio:home' %}">English version of this website here</a></p>
    </section>

{% endblock %}
