{% load static %}

<nav>
    <ul>
        <li><a href="{% url 'portfolio:es-home' %}">Inicio</a></li>
        <li><a href="{% url 'portfolio:sobre-mi' %}">Sobre Mí</a></li>
        <li><a href="{% url 'portfolio:proyectos' %}">Proyectos</a></li>
        <li><a href="{% url 'portfolio:certificados' %}">Certificados</a></li>
        {% comment %}
        <li><a href="{% url 'portfolio:contactame' %}">Contact Me</a></li>
        {% endcomment %}
    </ul>
    <img src={% static "portfolio/profile.jpeg" %} alt="Una foto de Pablo A. Roufogalis" title="Foto por Juan Daniel Guerrero" width="20%" height="20%"/>
</nav>
